---
import { COLORSCLASSES } from '@config/styles'
import ImageFigcaption from '@shared/cms/components/ImageFigcaption.astro'
import { Picture } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import { clsx } from 'clsx'

type Props = { quote: CollectionEntry<'homepageQuotes'>['data'] }

const { quote, name, position, image, imageCopyright } = Astro.props.quote
---

<figure class="transition-opacity duration-500 lg:flex">
  <div class="flex flex-none flex-col justify-between space-y-6 lg:justify-start">
    <Picture
      src={image}
      alt=""
      widths={[130, 320, 600]}
      formats={['jpg', 'avif']}
      class="h-[130px] w-[130px] overflow-hidden rounded-full object-cover lg:h-[320px] lg:w-[320px]"
      pictureAttributes={{ class: 'not-prose' }}
    />
    <p>
      <ImageFigcaption className="max-w-[300px] lg:text-center"> {imageCopyright}</ImageFigcaption>
    </p>
  </div>
  <div class="pt-6 pl-10">
    <blockquote class="text-lg font-medium">
      {quote}
    </blockquote>
    <figcaption class="text-[16px] leading-[24px]">
      <strong class={clsx(COLORSCLASSES.quotesPersonName, 'mt-8 block font-extrabold')}>
        {name}
      </strong>
      <div class={clsx(COLORSCLASSES.quotesPersonPosition)}>
        {position}
      </div>
    </figcaption>
  </div>
</figure>
