---
import { mdxComponentsAstro } from '@shared/cms/components/mdxComponentsAstro.astro'
import Section from '@shared/layouts/Section.astro'
import { getCollection } from 'astro:content'
import RoutespageRoutesegmentDetail from './RoutespageRoutesegmentDetail.astro'
import type { Segment } from './RoutespageRoutesegments.astro'

type Props = { route: Segment }
const { route } = Astro.props
const { Content } = await route.render()
const routesegmentdetails = await getCollection('routesegmentdetails')
export type Segmentdetail = (typeof routesegmentdetails)[number]
const filteredAndSortedDetails = routesegmentdetails
  .filter((detail) => detail.data.route === route.slug)
  .sort((a, b) => a.data.position - b.data.position)
---

<Section prose>
  <header id={route.slug} class="scroll-m-8">
    <h2>{route.data.title}</h2>
    <p>Baulastträger/in: {route.data.operator}</p>
  </header>

  <article>
    <Content components={mdxComponentsAstro} />
  </article>

  {
    filteredAndSortedDetails.length > 0 ? (
      <>
        <h3>Detailinfos</h3>
        <ol class="not-prose divide-y divide-gray-200 border-y">
          {filteredAndSortedDetails.map((detail) => (
            <li>
              <RoutespageRoutesegmentDetail detail={detail} />
            </li>
          ))}
        </ol>
      </>
    ) : null
  }
</Section>
